@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

img {
    user-select: none;
    pointer-events: none; 
}

body {

    background: linear-gradient(90deg, rgba(185,36,198,1) 0%, rgba(238,39,244,1) 100%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url('img/cursor_default.png'), auto;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1em;
}

.greetings {
    font-size: 5vw;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffe1f9;
    line-height: 0.5;
}

.fixed-Shrek {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 25vw;
    z-index: 1000;

}


.scroll-container {
    position: relative;
    width: 300px;
    height: 100vh; 
    overflow: hidden; 
}

.content {
    max-height: 100%; 
    overflow-y: auto; 
    padding-right: 30px; 
}

.content::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.custom-scrollbar {
    position: absolute;
    top: 0;
    right: 5px;
    width: 50px; 
    height: 100%; 
    pointer-events: none; 
    
    
}

.scroll-thumb {
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    cursor: grab;
    pointer-events: all;
    cursor: url('img/cursor_pointer.png'), auto;
}

.scroll-thumb:active {
    cursor: grabbing;
    cursor: url('img/cursor_pointer.png'), auto;
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-img {
    width: 30vw;
}

.photo-with-button {
    position: relative;
    display: block;
    width: 100%;
}

.main-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        width: 70vw;
    }
}

.button-pos-class {
    position: absolute; 
    width: 20%; 
    height: 20%; 
    left: 50%; 
    top: 45%;
    cursor: url('img/cursor_pointer.png'), auto;
}

.button-class {
    position: absolute;
    width: 12vw; 
    cursor: pointer;
    z-index: 10; 
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    width: 30vw;
    height: 20vw;
    text-align: center;
    z-index: 1000;
    border: 5px solid black;
}

.popup::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 151, 49, 0.5);
    z-index: -1;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: url('img/cursor_pointer.png'), auto;
}

.popup-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 20vw;
    transform: scaleY(0.6) rotate(90deg);
    color: #115f0a;
}

.button-text {
    font-size: 3vw;
    color: #ffe1f9;
    margin-bottom: 10;
    font-family: "Bellota", serif;

}

.coordinate-text {
    font-family: "Bellota", serif;
    color: #ffe1f9;
    font-size: 2vw;
}

.phone-screen {
    display: none;

}

@media(max-width: 500px) {
    .computer-screen {
        display: none;
    }

    .phone-screen {
        display: block;

    }
}

@media(max-height: 500px) {
    .computer-screen {
        display: none;
    }

    .phone-screen {
        display: block;
        
    }
}

.phone-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.phone-text {
    font-family: "Bellota", serif;
    color: #ffffff;
    text-align: center;
}